@import url('https://fonts.googleapis.com/css?family=Volkhov&display=swap');

* {
	outline: none !important;
}

body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
	font-family: 'Volkhov', serif;
}

@media only screen and (max-width: 750px) {   
	#slides .titleContent{
		margin-top: -80px;
	} 
    #slides .titleContent .heading .main {
	font-size: 35px;
    }

    #slides .titleContent .heading .sub {
	font-size: 20px;
    }
    #slides .slides-navigation .prev,
	#slides .slides-navigation .next {
	width: 30px;
	height: 30px;
	}
	#about .col-md-7 {
    padding-right: 30px;
	}
	
	body {
		text-align: center;
	}
	
	.container .row .col-md-5 .aboutImage{
		padding-right: 0;
	}
	#about .container h4 {
		margin-top: 30px;
	}
	.copyright .share-btt {
		width: 230px;
		height: 45px;
	}
	.copyright .share-btt span {
		line-height: 45px;
	}
}

@media only screen and (max-width: 500px) { 
	#slides .titleContent{
		margin-top: -80px;
	}    
    #slides .titleContent .heading .main {
	font-size: 30px;
    }

    #slides .titleContent .heading .sub {
	font-size: 14px;
    }
    #slides .slides-navigation .prev,
	#slides .slides-navigation .next {
	width: 17px;
	height: 17px;
	}
	#about .col-md-7 {
    padding-right: 30px;
	}
	body {
		text-align: center;
	}

	.container .row .col-md-5 .aboutImage{
		padding-right: 0;
	}
	#about .container h4 {
		margin-top: 30px;
	}
	.copyright .share-btt {
		width: 230px;
		height: 45px;
	}
	.copyright .share-btt span {
		line-height: 45px;
	}
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/back.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleContent{
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleContent .heading p {
	color: #F5F1ED;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    letter-spacing: 7px;
}

.titleContent .heading .main {
	font-size: 50px;
}

.titleContent .heading .sub {
	font-size: 23px;
}

.section {
	padding: 80px 0;
}

#about .container h4 {
	font-size: 30px;
	margin-bottom: 40px;
	color: #EE964B;
}

#about .container p {
	margin-bottom: 50px;
}

#about .col-md-7 {
	padding-left: 30px;
}

.aboutImage {
	max-width: 100%;
	padding-right: 10px;
}

.skillsSection{
	background-color: #F95738;
	color: #F5F1ED;
}

.col-md-12 h2 {
	margin-bottom: 10px;
}

.col-md-12 p {
	margin-bottom: 50px;
	font-size: 16px;
}

.skill {
	text-align: center;
	margin-left: 10px;
}
.skill h4{
	margin-top: 20px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	color: #000000;
	line-height: 152px;
	display: inline-block;
	font-size: 40px;
}
.chart .percent:after {
	content: '%';
}

.owl-carousel {
    position: relative;
}
 
.owl-nav {
    font-size: 30px;
    position: absolute;
    top: 35%;
    width: 100%;
}
 
.owl-prev,
.owl-next {
    position: absolute;
}
 
.owl-prev {
    left: 0px;
}
 
.owl-next {
    right: 0px;
}

.owl-nav .owl-prev,.owl-next:focus {
	outline: none;
}

/*.owl-dots {

  text-align: center;

  padding-top: 35px;

}

.owl-dots button.owl-dot {

  width: 9px;
  height: 9px;

  border: 2px solid #222;
  border-radius: 15px;

  display: inline-block;

  background: #ccc;

  margin: 0 3px;


}

.owl-dots button.owl-dot.active {

  background-color: #222;

}

.owl-dots button.owl-dot:focus {

  outline: none;

}*/

.squareItem {
	margin-top: 30px;
	position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	 left: 0px;
}

.squareContent h2 {
	font-size: 58px; 
	margin-bottom: 10px;
	font-weight: 400;
	color: #EE964B;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
	left: 50%;
	top: -30px;
	width: 40%;
	height: 50px;
	font-size: 45px;
	margin-left: -20%;
	color: #444;
}
.about-btt{
	color: #EE964B;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 2px solid #EE964B;
	border-radius: 2px;
	font-size: 15px;
	font-weight: bold;
}

.about-btt:hover {
	text-decoration: none;
	color: #F5F1ED;
	background-color: #2d3436;
	border:1px solid black;
}

.contactSection {
	background-color: #F95738;
	color: #F5F1ED;
}

.contact-btt {
	color: #F5F1ED;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 2px solid #F5F1ED;
	border-radius: 2px;
	font-size: 15px;
	font-weight: bold;
}

.contact-btt:hover {
	text-decoration: none;
	color: #D89286;
	background-color: #F5F1ED;
}

.contactSection p{
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;
}
.contactSection h1{
	font-size: 25px;
	font-weight: 500px;
	margin-bottom: 40px;
}


.filter a {
	color: #bdc3c7;
	border:1px solid #bdc3c7;
	padding: 10px;
	display: block;
	font-weight: 450;
	text-decoration: none;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.filter .current {
	background-color: #2d3436;
	border-color: #34495e;
	color: #F5F1ED;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.filter #filters {
	padding-left: 0;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}

.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 0.6s;
	-moz-transition: all 0.2s linear, 0.6s;
	-o-transition: all 0.2s linear, 0.6s;
	-ms-transition: all 0.2s linear, 0.6s;
	-transition: all 0.2s linear, 0.6s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index:3;
}

.items .icons i {
	color: #F5F1ED;
	font-size: 20px;
	margin-top: 9px;
}

.items a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #F4D35E;
	position: relative;
	display: inline-block;

	-webkit-transition: all 0.2s linear, 0.3s;
	-moz-transition: all 0.2s linear, 0.3s;
	-o-transition: all 0.2s linear, 0.3s;
	-ms-transition: all 0.2s linear, 0.3s;
	-transition: all 0.2s linear, 0.3s;
}

.items .imageOverlay {
	width: 100%;
	height: 100%;
	background-color:  rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;

	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
	-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton{
	left: 0px;
}

.items .item:hover .projectLink{
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	-transform: scale(1.05,1.05);
}

.items {
	padding: 0;
}

.copyright {
	background-color: #F95738;
	color: #F5F1ED;
	padding: 30px 5px;
}

.share-btt {
	width: 350px;
	height: 56px;
	background: #dfe6e9;
	border-radius: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: .3s linear;
	margin-top: 20px;
}

.share-btt:hover {
	transform: scale(1.1);
}

.share-btt span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2d3436;
	color: #f1f1f1;
	text-align: center;
	line-height: 56px;
	z-index: 999;
	transition: 0.7s linear;
	border-radius: 40px;
}
.share-btt:hover span {
	transform:  translateX(-100%);
	transition-delay: .3s;
}

.share-btt a {
	flex: 1;
	font-size: 22px;
	color: #2d3436;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.3s linear;
}

.share-btt:hover a {
	opacity: 1;
	transform: translateX(0);
}

.share-btt a:hover > i{
	transform: scale(1.4) rotate(25deg);
}

.share-btt a:nth-of-type(1){
	transition-delay: 1s;
}

.share-btt a:nth-of-type(2){
	transition-delay: 0.8s;
}

.share-btt a:nth-of-type(3){
	transition-delay: 0.6s;
}

.share-btt a:nth-of-type(4){
	transition-delay: 0.4s;
}

.share-btt a:nth-of-type(5){
	transition-delay: 0.2s;
}

.copyright p {

	margin: 0;
	margin-top: 20px;
	font-size: 15px;
	color: #2d3436;
	font-weight: lighter;
}


/*.copyright a {
	display: inline-flex;
	width: 40px;
	height: 40px;
	background-color: #083D77;
	color: #F5F1ED;
	margin: 15px 6px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	text-decoration: none;

}

.copyright a:hover {
	background: #F4D35E;
	color: #F95738;
	transition: 0.2s all;
}

.copyright a i {
	font-size: 20px;
	transition: 0.3s all;
}

.copyright a:hover > i{
	transform: scale(1.5) rotate(25deg);
}
*/

#navigation {
	background-color: #F95738;
	padding: 10px 10px;
	z-index: 100;
	width: 100%;
	/*justify-content: space-around;*/
}

#navigation li {
	padding: 0 10px;
}
#navigation li a {
	color: #F5F1ED;
}

#navigation li a:hover {
	color: #2d3436;
}

#navigation li:hover > a{
	transform: scale(1.4);
	transition: .7s;
}
#navbarNav {
	/*justify-content: space-around;*/
}

.navbar-brand {
	color: #F5F1ED;

}

.nav-link {
	font-weight: 500;
}

.navbar-brand,
.navbar-brand:hover {
	color: #F5F1ED;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
	outline: none;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.navbar-toggler-icon:focus {
	outline-style: none;
}

.loading {
	width: 100%;
	height: 100%;
	background-color: #F5F1ED;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loading .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loader1.gif) center center no-repeat;
}